:root {
    /* Colors */
    --text-base-dark: #000;
    --text-base-light: #fff;
    --text-sub: #a7a7a7;
    --text-artist: #6a6a6a;
    
    --green: #1FDF64;
    --bg-sidebar: #121212;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-top-bar: #61616142;
    --bg-search: #242424
    --grid-gap: 24px;
    --column-count: 5;

    /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
}

/* MEDIA QUERYS */
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
}