.greeting__text {
    font-size: 2.3rem;
    font-family: "DM Sans", sans-serif;
    color: #1FDF64;
    font-weight: 800;
}

/* PLAYLIST */
.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #000;
}

.playlist {
    margin: 24px;
}

.playlist #greeting {
    color: #1FDF64;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    color: #1FDF64;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
}

/* SCROLL */
.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/* FIM SCROLL */

.offer__list-item {
    /* display: grid; */
    /* justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;  */

    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    /* display: grid; /* define o modelo de layout do elemento como uma grade */
    /* gap: 16px; */
    /* grid-gap: 32px;  /* não é usado mais */
    /* margin: 0 auto; */
}

.cards {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Four cards per line */
    gap: 20px; /* Gap between cards */
}

.card {
    width: calc(80% - 20px); /* 20px margin between cards */
    margin-bottom: 20px; /* Margin between rows */
    background-color: #3BBF5A;
}

/* FIM COLOR CARDS */

.offer__list-item img {
    display: flex;
    height: auto;
    width: 60%;
    border-radius: 10rem;
    margin-top: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
}


/* CARD ARTISTA */

.hidden {
    display: none;
}

.grid-container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 372px;
}

.artist-card {
    background: #fff;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-card:hover {
    background-color: #252525;
}

.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}

.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
    color: #6a6a6a;
    font-family: "DM Sans", sans-serif;
}

.artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
}

.play {
    position: relative;
}

.play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}

#result-artist {
    padding: 20px 40px;
}
/* FIM CARD ARTISTA */